---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/863823/credits?api_key=<fake_movie_key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 1d87ab7ea93a11d60311e83fcedecc881f1fb2a8
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17073'
      Last-Modified:
      - '2021-08-20 22:59:32 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":863823,"cast":[{"adult":false,"gender":0,"id":3206106,"known_for_department":"Acting","name":"Moeka
        Haruhi","original_name":"Moeka Haruhi","popularity":0.6,"profile_path":null,"cast_id":1,"character":"","credit_id":"6120341cf0317400740d4269","order":1},{"adult":false,"gender":0,"id":3206107,"known_for_department":"Acting","name":"Fairy
        Iidabashi","original_name":"Fairy Iidabashi","popularity":0.6,"profile_path":null,"cast_id":2,"character":"","credit_id":"612034292e069700459dcf86","order":2},{"adult":false,"gender":0,"id":3206108,"known_for_department":"Acting","name":"Keisuke
        Ishii","original_name":"Keisuke Ishii","popularity":0.6,"profile_path":null,"cast_id":3,"character":"","credit_id":"612034342dc44e005c6816f0","order":[...]
