<h1><%= @user.name %>'s Dashboard</h1>
<p><%= @user.email %></p>

<p><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></p>

<div id="invited-parties">
  <% @user.invites.each do |party| %>
    <p><%= party.id %></p>
  <% end %>
</div>
