<p><%= link_to "Home Page", root_path %></p>
<h1>Viewing Party Lite</h1>
<h3>By Joel Grant and Dylan Harper</h3>

<p><%= button_to "Create User", "/users/new", method: :get %></p>

<% @users.each do |user| %>
  <p><%= link_to "#{user.name}", user_path(user.id) %></p>
<% end %>
